

@font-face {
    font-family: 'helveticaregular';
    src: url('helvetica-webfont.eot');
    src: url('helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-webfont.woff') format('woff'),
         url('helvetica-webfont.ttf') format('truetype'),
         url('helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family:helveticaregular;
	background:black;
}

#pageWrapper {
		width:1066px;
		margin: 0 auto;
		position:relative;
		top:150px;
		z-index: 2;
}
#headerWrapper {
	position:absolute;
	width:100%;
	z-index:999;
}
#header {
		width:999px;
		margin: 0 auto;
		position:relative;
		height:136px;
}
#menu {
	left:173px;
	top: 77px;
	position:absolute;
}
#menu li {
	padding:20px 33px 16px;
	float:left;
	cursor:pointer;
	position:relative;
}
#menu li:hover {
	background:black;
}

#menu li ul {
	display:none;
}

#menu li:hover ul {
	display:block;
	position:absolute;
	top:100%;
	left:0px;
	width:100%;
	background:url(../images/bg_nav.png);
	color:white;
}
#menu li ul li {
	position:relative;
	width:100%;
	padding:15px 0px;
	background:transparent;
	text-indent:10px;
	font-size: 14px;
	font-family: "helveticaregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
#menu li ul li img:hover,#menu li ul a:hover li img{
	border-bottom:1px white solid;
	margin-bottom:-1px;
}
#menu li ul li:hover {
	background:transparent;
	text-decoration:underline;
}


#logo {
	width:144px;
	height:101px;
	top: 23px;
	left: 5px;
	position:absolute;
	background: url('../images/logo.png') no-repeat;
}
#vacancy_portal {
	width:132px;
	height:117px;
	background: url('../images/vacancy_portal.png');
	position:absolute;
	right:-6px;
	top:0px;
	cursor:pointer;
}

#menu #menu_about {
	width:80px;
	height:23px;
	background:url(../images/menu_about.png);
}
#menu #menu_markets {
width:107px;
	height:23px;
	background:url(../images/menu_markets.png);
}

#menu #menu_services {
	width:113px;
	height:23px;
	background:url(../images/menu_service.png);
}

#menu #menu_contact {
	width:116px;
	height:23px;
	background:url(../images/menu_contact.png);

}
#header_divider {
	width:1066px;
	height:1px;
	background:url(../images/header_divider.png);
	clear:both;
	margin:0 auto;
}
#contentWrapper {
	padding-top:1px;
	margin-top:-1px;
}
#welcome {
	width:653px;
	height:34px;
	background:url(../images/headline_welcome.png);
	margin: 0 auto;
}

#promoblock {
	width:100%;
	height:65px;
	background:url(../images/bg_promo.png);
	padding-top:40px;
}

#content {
	background:white;
	color:#999999;
	   font-family: "helveticaregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	padding-left:39px;
	padding-bottom:0px;
}

#lcontent,#rcontent,#rcontent2 {
	width:183px;
	float:left;
	margin-right:20px;
	margin-bottom: 14px;
}
#rcontent ul li{
	font-size:12px;
	line-height:14px;
}
#ccontent {
	float:left;
	width:590px;
	margin-right:19px;
}
#marketexpertise {

	height:12px;
	background:url(../images/headline_marketexpertise.png) no-repeat;
	margin-top: 20px;
	padding-bottom:20px;
	border-bottom:1px #e5e5e5 solid;
}
#marketexpertiseul li {
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:1px #e5e5e5 solid;
}

#expert_commodities, #expert_banking.active, #expert_it.active, #expert_commodities.active, #expert_it,#expert_banking, #life_sciences, #life_sciences.active
{ display: block; background: url('../images/menu_sidebar.png') no-repeat; }

#expert_commodities { background-position: -0px -0px; width: 165px; height: 16px; }
#expert_banking.active,#expert_banking:hover { background-position: -0px -16px; width: 133px; height: 16px; }
#expert_it.active,#expert_it:hover { background-position: -0px -32px; width: 171px; height: 16px; }
#expert_commodities.active,#expert_commodities:hover { background-position: -0px -48px; width: 165px; height: 16px; }
#expert_it { background-position: -0px -64px; width: 171px; height: 16px; }
#expert_banking { background-position: -0px -80px; width: 133px; height: 16px; }
#life_sciences { background-position: -0px -110px; width: 133px; height: 16px; }
#life_sciences.active, #life_sciences:hover { background-position: -0px -96px; width: 133px; height: 16px; }


.headline {
	margin-top:29px;
	padding-bottom:17px;
	border-bottom: 1px #E5E5E5 solid;
}

#ouroffices {
	width:122px;
	height:12px;
	background:url(../images/headline_ouroffices.png);
	margin-bottom:20px;
	margin-top:20px;
}
#practiceareas {
	width:158px;
	height:12px;
	background:url(../images/headline_practiceareas.png);
	margin-bottom:20px;
	margin-top:20px;
}

#gqr {
	width:198px;
	height:16px;
	background:url(../images/headline_gqr.png);
	margin:0 auto;
	margin-bottom:20px;
	margin-top:16px;

}
#maincontent {
	padding-top:17px;
	border-top:1px #e5e5e5 solid;
	font-size:12px;
	line-height:14px;
}
#maincontent p {
	margin-bottom:15px;
}
#maincontent a,#maincontent a:hover,#maincontent a:visited {
	color:#2961C2;
	text-decoration:none;
}
#offices {
	margin-bottom:15px;

}

#mainimage {
	padding-top: 1px;
	margin-top: -1px;
	width:100%;
	height:100%;
	position:relative;
	min-width:1066px;
}
#background {
/*
	#background:url(../images/mainbg_trading.jpg) no-repeat;
	#background-size:cover;
	#min-height:799px;
*/
	width:100%;
	position:fixed;
	overflow:hidden;
	height:100%;
}
#backgroundCycle {
	height:862px;
	width:1920px;
	position:relative;
}
#background div.img {
	width:100%;
	position:absolute;
	height: 100%;
	left:0px;
	top:0px;
}
#background div.img  img {
	width:100%;

}
#topbg {
	top:0px;
	position: absolute;
	height:319px;
	width:100%;
	background:url(../images/bg_topgradient.png) repeat-x;
}
#bottombg {
	height:62px;
	width:100%;
	position:absolute;
	top:-62px;
	background:url(../images/bg_bottomgradient.png) repeat-x;
	z-index:1;
}
#offices li {
	font-size:14px;
	background:url('../images/li.png') 0px 9px no-repeat;
	padding-left:15px;
	padding-top:7px;
	padding-bottom:7px;
	border-top:1px #e5e5e5 solid;
}

#maincontent li {
	background:url('../images/li.png') 0px 12px no-repeat;
	padding-left:15px;
	margin-left:30px;
	padding-top:7px;
	padding-bottom:5px;
}


#practiceareasul li {
	font-size:12px;
	line-height:14px;
	background:url('../images/li.png') 0px 9px no-repeat;
	padding-left:15px;
	padding-top:7px;
	padding-bottom:7px;
	border-top:1px #e5e5e5 solid;
}


/*Footer*/
#footerWrapper {
	clear:both;
	position:relative;
	top:150px;
	width:100%;
	height:300px;
	background: #666 url(../images/bg_footer.png) bottom repeat-x;

}
.footer_divider {
	width:100%;
	clear:both;
	height:1px;
	background:#666666;
	margin-top:0px;
}
#footer {
	width:999px;
	clear:both;
	margin:0 auto;
	color:#cccccc;
	   font-family: "helveticaregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	font-size:13px;
	line-height:20px;
	padding-left:10px;
}

#footer a {
	color:#cccccc;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footertop {
	height:255px;
	width:100%;
	padding-top:10px;
}
#footertop .f1 {
	font-size:12px;
}
#footerbottom {
	padding-top:8px;
	color:white;
}
#footerbottom .f3 {
	color:#ccc;
}
.f1,.f2,.f3,.f4,.f5 {
	float:left;
	margin-right:20px;
	width:180px;
	min-height:1px;
	position:relative;

}
.f1 {
	margin-right:24px;
}
.f3 {
	width:184px;
}
.f5 {
	margin-right:0px
}
.f4 {
	left:66px;
	margin-right:24px;
}

#footer #map {
	width:348px;
	height:200px;
	background:url(../images/map.png);
	position:relative;
	left:-102px;
	top:2px;
}
.marker {
	width:12px;
	height:20px;
	background:url(../images/map_marker.png);
	position:absolute;
}
#marker1 {
	left:47px;
	top:72px;
}
#marker2 {
	left:73px;
	top:77px;
}
#marker3 {
	left:100px;
	top:61px;
}
#marker4 {
	left:161px;
	top:52px;
}
#marker5 {
	left:277px;
	top:85px;
}
#marker6 {
	left:309px;
	top:149px;
}



#bankingandfinance {
	width:118px;
	height:10px;
	background: url('../images/footer_bankingandfinance.png');
	margin-top:21px;
	margin-bottom: 5px;
}
#commoditiesandenergy {
	width:144px;
	height:10px;
	background:url(../images/footer_commoditiesandenergy.png);
	margin-top:15px;
	margin-bottom: 5px;
}
#informationtechnology {
	width:164px;
	height:10px;
	background:url(../images/footer_informationtechnology.png);
	margin-top:15px;
	margin-bottom: 5px;
}

#clientservices {
	width:94px;
	height:10px;
	margin-top:15px;
	background:url(../images/footer_clientservices.png);
	margin-bottom: 5px;
}
#aboutus {
	margin-top:14px;
	width:55px;
	height:10px;
	background:url(../images/footer_aboutus.png);
	margin-bottom: 5px;
}

#life_sciences_footer {
	margin-top:14px;
	width:79px;
	height:10px;
	background:url(../images/footer_life_sciences.png);
	margin-bottom: 5px;
}
#newyork {
	width:60px;
	height:10px;
	margin-top:20px;
	background:url(../images/footer_newyork.png);
	margin-bottom: 5px;
}
#houston {
	width:54px;
	height:10px;
	margin-top:50px;
	background:url(../images/footer_houston.png);
	margin-bottom: 5px;
}
#losangeles {
	width:75px;
	height:10px;
	margin-top:50px;
	background:url(../images/footer_losangeles.png);
	margin-bottom: 5px;
}
#london {
	width:51px;
	height:10px;
	margin-top:20px;
	background:url(../images/footer_london.png);
	margin-bottom: 5px;
}
#hongkong {
	width:75px;
	height:10px;
	margin-top:50px;
	background:url(../images/footer_hongkong.png);
	margin-bottom: 5px;
}
#sydney {
	margin-top:50px;
	width:44px;
	height:10px;
	background:url(../images/footer_sydney.png);
	margin-bottom: 5px;
}
#followus {
	min-width:69px;
	height:10px;
	background:url(../images/footer_followus.png) no-repeat;
	padding-left:70px;
	margin-top:12px;
	margin-left:10px;

}
	#followus #facebook {

		background: url('../images/icons.png') no-repeat;
		background-position: -0px -46px; width: 7px; height: 13px;
		float:left;
		position:relative;
		top:-2px;
		margin-left:6px;
	}
	#followus #facebook:hover {
		background-position: -0px -98px; width: 7px; height: 13px;
	}
	#followus #twitter {

		background: url('../images/icons.png') no-repeat;
		background-position: -0px -111px; width: 16px; height: 12px;
		float:left;
		position:relative;
		top:-2px;
		margin-left:7px;
	}
	#followus #twitter:hover {
		background-position: -0px -123px; width: 16px; height: 12px;
	}
	#followus #linkedin {

		background: url('../images/icons.png') no-repeat;
		background-position: -0px -59px; width: 13px; height: 13px;
		float:left;
		position:relative;
		top:-2px;
		margin-left:7px;
	}
	#followus #linkedin:hover {
		 background-position: -0px -72px; width: 13px; height: 13px;
	}
	#followus #youtube {

		background: url('../images/icons.png') no-repeat;
		background-position: -0px -32px; width: 15px; height: 14px;
		float:left;
		position:relative;
		top:-2px;
		margin-left:9px;
	}
	#followus #youtube:hover {
		background-position: -0px -85px; width: 15px; height: 13px;
	}


/*CONTACT page*/
#mapWrapper {
	width:100%;
	background:url(../images/bg_contact.png);
	padding-top:44px;
	padding-bottom:42px;
	margin-bottom:15px;
	color:#525252;
	   font-family: "helveticaregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	font-size:14px;
}

#contact_map {
	width:571px;
	height:328px;
	background:url(../images/contact_map.png);
	margin:0 auto;
	position:relative;
	left: 2px;
top: -2px;
}
#maplines {

	width:1065px;
	height:414px;
	position:absolute;
	top:0px;
}
#map_ny {
	width:393px;
	height:90px;
	position:absolute;
	left: -210px;
	top: 45px;
	background: url(../images/line_ny.png) no-repeat;
}

#map_boston {
	width: 400px;
	height: 45px;
	position:absolute;
	left: -210px;
	top: 102px;
	background: url(../images/line_boston.png) no-repeat;
}
#map_sf {
	padding-top: 41px;
	width:393px;
	height:41px;
	position:absolute;
	left: -210px;
	top: 116px;
	background: url(../images/line_sf.png) no-repeat;
}
#map_la {
	padding-top: 75px;
	width:306px;
	height:75px;
	position:absolute;
	left: -210px;
	top: 137px;
	background: url(../images/line_la.png) no-repeat;
	z-index:1;
}
#map_hst {
	padding-top: 130px;
	width:350px;
	height:131px;
	position:absolute;
	left: -210px;
	top: 140px;
	background: url(../images/line_hst.png) no-repeat;
}
#map_lon {
	width:462px;
	height:79px;
	position:absolute;
	left: 262px;
	top: 43px;
	text-align:right;
	background: url(../images/line_lon.png) no-repeat;
}
#map_ch {
	width:630px;
	height:40px;
	position:absolute;
	left: 100px;
	top: 110px;
	text-align:right;
	background: url(../images/line_ch.png) no-repeat;
}
#map_hnk {
	width:294px;
	height:294px;
	position:absolute;
	left: 451px;
	top: 155px;
	background: url(../images/line_hnk.png) no-repeat;
}
#map_syd {
	width:215px;
	height:22px;
	position:absolute;
	left: 501px;
top: 265px;
	background: url(../images/line_syd.png) no-repeat;
}


.city {
	margin-top: -20px;
	margin-bottom: 17px;
	padding-top: 29px;
}
.city.ny {
	width:75px;
	height:12px;
	background: url(../images/map_ny.png) no-repeat;
}

.city.boston {
	width:75px;
	height:12px;
	background: url(../images/map_boston.png) no-repeat;
}
.city.sf {
	width:114px;
	height:12px;
	background: url(../images/map_sf.png) no-repeat;
}

.city.hnk {
	width:85px;
	height:12px;
	background: url(../images/map_hnk.png) no-repeat;
	top: 4px;
	right: 59px;
	position: absolute;
	margin-top: 22px;

}
.city.hst {
	width:68px;
	height:12px;
	background: url(../images/map_hst.png) no-repeat;
}
.city.lon {
	padding-top: 30px;
	width: 58px;
	height: 12px;
	background: url(../images/map_lon.png) no-repeat;
	top: -1px;
	right: 65px;
	position: absolute;
}
.city.ch {
	padding-top: 30px;
	margin-top:3px;
	width: 65px;
	height: 12px;
	background: url(../images/map_ch.png) no-repeat;
	top: -1px;
	right: 65px;
	position: absolute;
}
.city.la {
	width:96px;
	height:12px;
	background: url(../images/map_la.png) no-repeat;
}
.city.syd {
	width:56px;
	height:12px;
	background: url(../images/map_syd.png) no-repeat;
	top: 5px;
	right: 60px;
	position: absolute;

}


/*
Testimonials
*/
/* Generated by http://css.spritegen.com CSS Sprite Generator */

/* Generated by http://css.spritegen.com CSS Sprite Generator */

#testimonials {
	padding-top: 31px;
	padding-left: 5px;
	margin-bottom: 15px;
	background: url(../images/bg_testimonials.png);
	margin-top: 0px;
}
#testimonials ul li{
	width: 200px;
	margin: 0px 40px 0px 25px;
	height: 105px;
	float: left;
	line-height: 128px;
	text-align: center;
}

.testimonials-bp, .testimonials-suntrading, .testimonials-wellsfargo, .testimonials-riotinto, .testimonials-wsj,
.testimonials-citi, .testimonials-whowhatwear, .testimonials-numerix, .testimonials-wynden, .testimonials-cqf,
.testimonials-fidelity, .testimonials-cityintern, .testimonials-rbs, .testimonials-linkedin, .testimonials-aqr,
.testimonials-svb, .testimonials-commerzbank, .testimonials-citizensbank, .testimonials-societegenerale, .testimonials-kathrein
{ display: block; background: url('../images/testimonials.png') no-repeat;margin: 0 auto;}

.testimonials-bp { background-position: -10px -0px; width: 69px; height: 91px; position:relative; margin-top: -49px;
margin-left: 63px;top:50%; }
.testimonials-suntrading { background-position: -89px -0px; width: 102px; height: 80px; position:relative; margin-top:-46px;margin-left:33px; top:50%; }
.testimonials-wellsfargo { background-position: -89px -90px; width: 70px; height: 69px; position:relative; margin-top:-35px; top:50%; }
.testimonials-riotinto { background-position: -10px -169px; width: 135px; height: 61px; position:relative; margin-top:-34px; margin-left:30px; top:50%; }
.testimonials-wsj { background-position: -10px -240px; width: 98px; height: 60px; position:relative; margin-top: -27px;
margin-left: 44px; top:50%; }
.testimonials-citi { background-position: -10px -310px; width: 101px; height: 60px; position:relative; margin-top: -43px;
margin-left: 45px; top:50%; }
.testimonials-whowhatwear { background-position: -10px -101px; width: 73px; height: 59px; position:relative; margin-top: -24px;
margin-left: 49px;top:50%; }
.testimonials-numerix { background-position: -10px -380px; width: 161px; height: 49px; position:relative; margin-top:-36px;margin-left:4px; top:50%; }
.testimonials-wynden { background-position: -10px -439px; width: 195px; height: 44px; position:relative; margin-top:-25px; top:50%; }
/*
.testimonials-cqf { background-position: -10px -493px; width: 98px; height: 43px; position:relative; margin-top: -19px;
margin-left: 48px; top:50%; }
*/
.testimonials-cqf { background: url(../images/cqf.png); width: 60px; height: 70px; position:relative;
margin-top: -35px;
margin-left: 70px; top:50%; }
.testimonials-fidelity { background-position: -10px -546px; width: 159px; height: 39px; position:relative; margin-left: 5px;
margin-top: -27px;top:50%; }
.testimonials-cityintern { background-position: -10px -595px; width: 170px; height: 36px; position:relative; margin-top: -19px;
margin-left: 22px; top:50%; }
.testimonials-rbs { background-position: -10px -641px; width: 121px; height: 36px; position:relative; margin-top: -18px;
margin-left: 46px; top:50%; }
.testimonials-linkedin { background-position: -10px -687px; width: 140px; height: 34px; position:relative; margin-top: -20px;
margin-left: 14px; top:50%; }
.testimonials-aqr { background-position: -10px -731px; width: 200px; height: 31px; position:relative; margin-top: -21px;
margin-left: 3px; top:50%; }
.testimonials-svb { background-position: -10px -772px; width: 97px; height: 30px; position:relative; margin-top: -10px;
margin-left: 58px; top:50%; }
.testimonials-commerzbank { background-position: -10px -812px; width: 201px; height: 27px; position:relative; margin-top:-14px;margin-left:2px; top:50%; }
.testimonials-citizensbank { background-position: -10px -849px; width: 161px; height: 24px; position:relative; margin-top: -14px;
margin-left: 22px; top:50%; }
.testimonials-societegenerale { background-position: -10px -883px; width: 161px; height: 21px; position:relative; margin-top: -11px;
margin-left: 26px;top:50%; }
.testimonials-kathrein { background-position: -10px -914px; width: 159px; height: 19px; position:relative; margin-top: -17px;
margin-lefT: 18px; top:50%; }

.testimonials-stat { background: url(../images/statistics.png); width: 60px; height: 80px; position:relative;
margin-top: -43px;
margin-left: 70px; top:50%; }

.testimonials-rwe { background: url(../images/rwe.png); width: 120px; height: 61px; position:relative;
margin-top: -25px;
margin-left: 38px; top:50%; }
/*Directions*/
.directions-houston, .directions-sydney, .directions-hongkong, .directions-losangeles, .directions-london, .directions-newyork, .directions-boston
{ display: block; background: url('../images/directions.png') no-repeat;margin-bottom:5px; }
.directions-houston { background-position: -0px -0px; width: 68px; height: 12px; }
.directions-sydney { background-position: -0px -12px; width: 56px; height: 12px; }
.directions-hongkong { background-position: -0px -24px; width: 85px; height: 12px; }
.directions-losangeles { background-position: -0px -36px; width: 96px; height: 12px; }
.directions-london { background-position: -0px -48px; width: 58px; height: 12px; }
.directions-newyork { background-position: -0px -60px; width: 75px; height: 12px; }
.directions-boston { background-position: -0px -72px; width: 96px; height: 12px; }

#directionsul li {
	margin-top:19px;
	border-bottom: 1px #E5E5E5 solid;
	padding-bottom:13px;
	line-height: 22px;
	font-size: 12px;
}

#directionsul2 li {
	margin-top:19px;
	border-bottom: 1px #E5E5E5 solid;
	padding-bottom:13px;
	line-height: 22px;
	font-size: 12px;
}

/*Directors*/
.contact-church, .contact-talbot, .contact-leg, .contact-sugden
{ display: block; background: url('../images/directors.png') no-repeat; }
.contact-church { background-position: -0px -12px; width: 125px; height: 12px; }
.contact-talbot { background-position: -0px -0px; width: 134px; height: 12px; }
.contact-leg { background-position: -0px -24px; width: 118px; height: 12px; }
.contact-sugden { background-position: -0px -36px; width: 120px; height: 12px; }

#directors {
	height:12px;
	background:url(../images/headline_directors.png) no-repeat;
}
#directorsul li a {
	color:#999;
	text-decoration:none;
}
#directorsul li a:hover,#directorsul li a:visited {
	color:#999;
	text-decoration:none;
}
#directionsul li a {
	color:#999;
	text-decoration:none;
}
#directionsul2 li a {
	color:#999;
	text-decoration:none;
}
#directionsul li a:hover,#directionsul li a:visited {
	color:#999;
	text-decoration:none;
}
#directionsul2 li a:hover,#directionsul2 li a:visited {
	color:#999;
	text-decoration:none;
}
#directorsul li{
	margin-top:20px;
	border-bottom: 1px #E5E5E5 solid;
	padding-bottom:11px;
	font-size:14px;
}
#directorsul li div {
	margin:6px 0px;
}

#directorsul .linkedin {
	background:url(../images/icons.png) no-repeat;
	background-position: -0px -145px;  height: 10px;
	padding-left:28px;
	margin-top:9px;
}
#directorsul .phone {
	background:url(../images/contact_phone.png) 0px 2px no-repeat;
	padding-left:28px;
	margin-top:10px;
	margin-bottom:3px;
}

#contactus {
	width:106px;
	height:16px;
	background:url(../images/headline_contactus.png) no-repeat;
	margin-bottom: 20px;
	margin-top: 16px;
	margin:25px auto 17px;
	position: relative;
	left: -8px;
}

#directions {
	background:url(../images/headline_directions.png) no-repeat;
	height:12px;
}
#directions2 {
	background:url(../images/headline_directions.png) no-repeat;
	height:12px;
}
#clienttestimonials {
	background:url(../images/headline_clienttestimonials.png) no-repeat;
	height: 16px;
	width: 176px;
	border: none;
	margin: 20px auto 0px;
	padding-bottom:16px;
}

.field {
	float:left;
	margin-right:15px;
	margin-bottom:25px;
}
.field.clear {
	clear:both;
}
.field label {
	display:block;
	margin-bottom:5px;
	font-size: 13px;
	color: #333;
}
#maincontent form {
	padding-left:20px;
}
.field input {
	width:250px;
	height:25px;
	font-size:15px;
	padding-left:10px;
	color:#999999;
	border-radius:5px;
	border:1px #cdcdcd solid;
}
.field.submit {
	margin-top:-5px;
	margin-bottom:90px;
}
.field .customSelect {
	font-size:15px;
	padding-left:10px;
	color:#555;
	height:25px;
	width:340px;
	border-radius:5px;
	border:1px #cdcdcd solid;
	background:#fff url('../images/selectarrow.png') 330px 12px no-repeat;
	padding-top:6px;
}
.field .customSelectInner {
	#padding:15px 10px;
}
.field select option {
	padding:15px 10px;
}
.field textarea {
		width:430px;
		height:100px;
		font-size:15px;
	padding:10px;
	color:#999999;
		line-height:20px;
		border-radius:5px;
	border:1px #cdcdcd solid;
}
.field input[type='file'] {
	border:none;
}
.field input[type='submit'] {

	width:auto;
	width:125px;
	height:30px;
	color:#525252;
	font-size:13px;
	background:url(../images/button_bg.png) repeat-x;
	cursor:pointer;
}
#nature {

}


#paddingcheck {
	width:1200px;
	height:1635px;
	margin: 0 auto;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-604px;
	background: url(../images/paddingcheck.png) no-repeat;
	z-index:9999;
	opacity:0.5;
}

#paddingcheckbutton {
	position:fixed;
	z-index:9999;
	bottom:0px;
	left:0px;
}


/*new content*/
#methodology {
	background:url(../images/headline_methodology.png);
	width: 130px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}
#execution {
	background:url(../images/headline_execution.png);
	width: 93px;
	height: 16px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 16px;
}
#headline_about {
	background:url(../images/headline_aboutgqr.png);
	width: 112px;
	height: 16px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 16px;
}

#headline_leadership {
	background:url(../images/headline_leadership.png) no-repeat center top;
	width: 112px;
	height: 18px;
	margin: 0 auto;
	margin-bottom: 18px;
	margin-top: 16px;
}

#sidebar_allvacancies {
	height: 12px;
	background: url(../images/sidebar_allvacancies.png) no-repeat;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E5E5E5 solid;
	margin-bottom:15px;
}
#sidebar_filtervacancies {
	height: 12px;
	background: url(../images/sidebar_filtervacancies.png) no-repeat;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E5E5E5 solid;
	margin-bottom:15px;
}
#lcontent a {
	font-size:13px;
}
#rcontent2 a {
	font-size:13px;
}
#content a {
	color:#1766b2;
}

#sidebar_about {
	height: 12px;
	background: url(../images/sidebar_about.png) no-repeat;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E5E5E5 solid;
}
#aboutul li {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E5E5E5 solid;
}
#about_methodology.active, #about_methodology, #about_execution.active, #about_execution, #about_about.active, #about_about, #about_leadership, #about_leadership.active
{ display: block; background: url('../images/sidebarmenu_about.png') no-repeat; }

#about_methodology.active, #about_methodology:hover { background-position: -0px -0px; width: 98px; height: 15px; }
#about_methodology { background-position: -0px -15px; width: 98px; height: 15px; }
#about_execution.active,#about_execution:hover  { background-position: -0px -30px; width: 69px; height: 13px; }
#about_execution { background-position: -0px -43px; width: 69px; height: 13px; }
#about_about.active,#about_about:hover { background-position: -0px -56px; width: 83px; height: 12px; }
#about_about { background-position: -0px -68px; width: 83px; height: 12px; }
#about_leadership { background-position: -0px -96px; width: 83px; height: 13px; }
#about_leadership.active, #about_leadership:hover { background-position: -0px -81px; width: 83px; height: 13px; }


/*new content*/
#headline_executive {
	background:url(../images/headline_executive.png);
	width: 166px;
	height: 16px;
	margin: 0 auto;
	margin-bottom: 17px;
	margin-top: 19px;
}
#headline_contingent {
	background:url(../images/headline_contingent.png);
	width: 182px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}
#headline_campaign {
	background:url(../images/headline_campaign.png);
	width: 188px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}

#headline_banking {
	background:url(../images/headline_banking.png);
	width: 179px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}
#headline_commodities {
	background:url(../images/headline_commodities.png);
	width: 222px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}
#headline_technology {
	background:url(../images/headline_technology.png);
	width: 113px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}

#headline_life_sciences {
	background:url(../images/headline_life_sciences.png) no-repeat center top;
	width: 128px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 17px;
}
#services {
height: 12px;
background: url(../images/services.png) no-repeat;
margin-top: 20px;
padding-bottom: 20px;
border-bottom: 1px #E5E5E5 solid;
}


#servicesul li {
margin-top: 20px;
padding-bottom: 20px;
border-bottom: 1px #E5E5E5 solid;
}

#services_campaign, #services_contingent, #services_executive
{ display: block; background: url('../images/services_menu.png') no-repeat; }

#services_campaign.active, #services_campaign:hover { background-position: -0px -0px; width: 139px; height: 15px; }
#services_contingent.active, #services_contingent:hover { background-position: -0px -15px; width: 135px; height: 15px; }
#services_campaign { background-position: -0px -30px; width: 139px; height: 15px; }
#services_contingent { background-position: -0px -45px; width: 135px; height: 15px; }
#services_executive { background-position: -0px -60px; width: 123px; height: 12px; }
#services_executive.active,#services_executive:hover { background-position: -0px -72px; width: 123px; height: 12px; }

#directorsul li div.title {
	margin-top:7px;
}

#contentWrapper {
	margin-top:430px;
}
.nogap #contentWrapper {
	margin-top:0px;
}

#directionsul .directions-map {
	min-height:16px;
	background: url('../images/icons.png') no-repeat;
	 background-position: -0px -0px; height: 16px;
	padding-left: 20px;
	margin-top: 1px;
	font-size:12px;
	line-height:18px;
}
#directionsul2 .directions-map {
	min-height:16px;
	background: url('../images/icons.png') no-repeat;
	 background-position: -0px -0px; height: 16px;
	padding-left: 20px;
	margin-top: 1px;
	font-size:12px;
	line-height:18px;
}
#directionsul .directions-map:hover {
	background-position: -0px -16px;  height: 16px;
}
#directionsul2 .directions-map:hover {
	background-position: -0px -16px;  height: 16px;
}
#directorsul .linkedin:hover {
	background-position: -0px -155px; height: 10px;
}

#sidebar_login {
	background:#eeeeee;
	padding:15px;
	width:153px;
}
#sidebar_login label {
	font-size:11px;
	color:#333333;
}

#login_headline {
height: 12px;
background: url(../images/sidebar_loginregister.png) no-repeat 2px 0px;
padding-bottom: 15px;
border-bottom: 1px #D9D9D9 solid;
margin-bottom: 15px;
}

#sidebar_callback {
	height: 12px;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #E5E5E5 solid;
	margin-bottom:15px;
}


#lcontent.newlcontent {
	margin-right:35px;
}
#rcontent2.newlcontent {
	margin-right:35px;
}
#ccontent.newccontent {
	width: 560px;
	margin-right:35px;
}
.field.small  input{
	width:142px;
}
.field.medium  input,.field.medium select{
	width:172px;
}
.field.padded input {
	width:auto;
	padding-left:10px;
	padding-right:10px;
}
.field.margin20 {
	margin-bottom:20px;
}
#sidebar_login a {
	font-size:13px;
	margin-left:15px;
}
.field.nomargin {
	margin-bottom:0px;
}
div.hr {
	width:100%;
	height:1px;
	background-color:#E5E5E5;
	margin-top:20px;
	margin-bottom:20px;
}

#headline_advancedsearch {
	background:url(../images/headline_advancedsearch.png);
	width: 179px;
	height: 16px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 16px;
}
.filterbox {
	background:#f9f9f9;
	border-bottom:1px #ececec solid;
	padding-top:20px;
	padding-bottom:0px;
	position:relative;
	padding-right:30px;
	padding-left:30px;
}
.filterbox.collapsed {
	padding-bottom:20px;
}
.filterbox > label{
	font-size:13px;
	color:#333333;
	cursor:pointer;
}
.advancedsearch {
	margin-top:-17px;
}
.filter_reset {
	color:#999999;
	font-size:13px;
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
}
#maincontent .field a.filters_reset {
	color:#999999;
	margin-left:20px;
	cursor:pointer;
}
.filterbox.collapsed .filters,.filterbox.collapsed .filter_reset {
	display:none;
}

.filter_arrow {
	background:url(../images/arrows.png);
	margin-left: -18px;
	margin-right: 10px;
	float:left;
}
.filterbox.collapsed .filter_arrow, .filter_arrow.up {
	background-position: 0px 0px;width: 8px; height: 11px;
	margin-top:0px;
}
.filterbox .filter_arrow, .filter_arrow.down {
	background-position: 0px -21px;width: 12px; height: 8px;
	margin-top:2px;
}

.advanced_search_submit  {
	margin: 20px auto;
	width: 250px;
}
.advancedsearch {
	border-bottom:1px #f2f2f2 solid;
}
.filters select {
	width:150px;
}
.filters_column {
	float:left;
}

.filter {
	margin-right:20px;
	margin-bottom:20px;
}
.filters_column.last .filter {
	margin-right:0px;
}
.filters_column label {
	margin-top:15px;
	margin-bottom:15px;
	display:block;
	color:#333333
}
.select2-results {
	font-size: 13px;
	min-height: 15px;
}


#headline_jobdescription {
	background:url(../images/headline_jobdescription.png);
	width: 151px;
	height: 19px;
	margin: 0 auto;
	margin-bottom: 17px;
	margin-top: 16px;
}

.jobdescription h1.job_title {
	font-size:21px;
	color:#333333;
	margin:10px 0px 25px;
}
.jobdescription label {
	font-size:13px;
	color:#333333;
	margin-right:10px;

}
.jobdata.margin40 {
	margin-right:40px;
}
.jobdata.small {
	font-size:13px;
	float:left;
	margin-bottom:10px;
	margin-top:0px;
}
.jobdata.small label {
	display:inline;
}
.jobdata label {
	margin-bottom:5px;
	display:block;
}

.jobdata {
	font-size:14px;
	margin-top:10px;
	line-height:20px;
	margin-bottom: 25px;
}
#maincontent .jobdata.li li {
	margin-left:5px;
}
.jobdata i {
	font-style:italic;
}
.apply_linkedin {
	cursor:pointer;
	background:url(../images/apply_linkedin.png);
	width:165px;
	height:28px;
}
.job_buttons .field input {
	height:28px;
}
.job_buttons .field {
	margin-right:10px;
}
.btn {
	width:28px;
	height:28px;
	cursor:pointer;
}
.btn.linkedin {
	background:url(../images/btn_linkedin.png);
}
.btn.twitter {
	background:url(../images/btn_twitter.png);
}
.btn.mail {
	background:url(../images/btn_mail.png);
}

.jobdescription {
	margin-bottom:50px;
}

#headline_currentvacancies {
	background:url(../images/headline_currentvacancies.png);
	width: 182px;
	height: 16px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 16px;
}

.jobdescription.listing h1.job_title{
	font-size:15px;
	margin: 5px 0px 15px;
}
.jobdescription.listing label {
	font-size: 11px;
}
.jobdescription.listing .jobdata {
	margin-bottom:5px;
}
.jobdescription.listing .jobdata.small {
	font-size:12px;
}
.jobdescription.listing .jobdata,.jobdescription.listing .jobdata label {
	margin-top:0px;
}
.jobdescription.listing .jobdata label {
	margin-bottom:0px;
}
.job_buttons {
	margin-left:-2px;
}
.jobdescription.listing .jobdata {
	font-size:12px;
	line-height:20px;
}

.jobdescription.listing {
	border-bottom:1px #e5e5e5 solid;
	padding-bottom:20px;
	padding-top:15px;
	margin-top: -17px;
	margin-bottom: 17px;
}


#headline_register {
	background:url(../images/headline_register.png);
	width: 159px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 16px;
	margin-top: 16px;
}
.register .field.medium {
	margin-right:21px;
}
.register .field.medium input {
	width:160px;
}
.register .field {
	margin-right:35px;
}
.register {
	margin-right:-35px;
}

.field input[type='checkbox'] {
	width:auto;
	height:auto;
}

.default_search .field {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px #e5e5e5 solid;
	width:184px;
}
.default_search .field.medium input,.default_search .field.medium select {
	margin:10px 0px;
}
.default_search .field.medium select  {
	width:182px;
	height:25px;
}

.default_search a {
	text-decoration:none;
}
.default_search {
	font-size:13px;
}
label.checkbox {
	color:#999999;
	margin:0px;
	display:inline;
}
label.checkbox.highlight {
	color:#333333;
}
.default_search .field.medium input[type='checkbox'] {
	margin:5px 5px 5px 0px;
	height: 14px;
	width: 14px;
	position: relative;
	top: 2px;
}
.default_search .field label {
	margin-bottom:10px;
}


.salary_picker .noUi-connect {
	background: #1870C7;
}
.salary_picker.noUi-horizontal {
	height:11px;
	background: url(../images/slider_bg.png) repeat-x;
}

.noUi-background {
	background: url(../images/slider_bg.png) repeat-x;
}
.noUi-horizontal .noUi-handle  {
      background:url(../images/slider_handles.png);
	  background-position: 0px 0px;
	  width:22px !important;
	  height:22px !important;
}

.noUi-horizontal .noUi-handle.noUi-active {
	background-position: 0px -32px;
}

.salary_tooltip {
	top: -27px;
	left: -12px;

	position:relative;
	width:46px;
	height:26px;
	font-weight:bolder;
	text-align: center;
	background:url('../images/tooltip.png');
	font-size:12px;
	color:#666666;
	padding-right: 2px;
	padding-top: 5px;
}

.salary_picker {
	position:relative;
	margin-bottom:25px;
	margin-top:25px;
}

.slider_values {
	position:absolute;
	top: -10px;
	font-size:12px;
	color:#333333;

}
.salary_picker_values {
	position:relative;
}

.slider_min {
	left:0px;
}
.slider_mid {
	left:50%;
	margin-left:-14px;
}
.slider_max {
	right:0px;
}

